
.main-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#game-field{
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
}

.field {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-size: 2rem;
  cursor: pointer;
}

.start{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-screen{
  border: 3px black solid ;
  gap: 5px;
  padding: 25px;
}

#start-screen input{
  font-size: 30px;
  flex-grow: 1;
  
}

#game-screen{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#player-display{
  font-size: 30px;
}










.hidden{
  display: none;
}


